<link rel="stylesheet" type="text/css" href="{{home}}/stylesheets/index.css">
{{!-- Background --}}
<div id="particles-js" style="position:fixed">

{{!-- Start index --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="nav-bar">
  <img class="navbar-brand" src="{{home}}/images/logos/logo.png" alt="Stuful" id="logo"></img>
  <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

</nav>
</div>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436720/particles.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436735/app.js"></script>

