:root{
   --buttonOver: #262644;
   --buttonBackground: #5865F2;
   --channelSelected: #5865F2;
} 

a{
   color: white !important;
   text-decoration: none;
}

.current{
   background-color: var(--channelSelected);
   border-left: red 2px solid;
}
.scrollable-menu {
   width: 150px;
   overflow-y: scroll;
   height: 100%;
   top: 0;
   left: 0;
}

.bottom-connected{
   position:fixed;
   bottom:0;
   width:100%;
   color:#fff;
}