html{
  position: fixed;
}
body {
  background: transparent;
}

.icons i {
  color: #b5b3b3;
  border: 1px solid #b5b3b3;
  padding: 6px;
  margin-left: 4px;
  border-radius: 5px;
  cursor: pointer;
}

.activity-done {
  font-weight: 600;
}

.list-group li {
  margin-bottom: 12px;
}


.list li {
  color: white;
  list-style: none;
  padding: 10px;
  border: 1px solid var(--red);
  margin-top: 12px;
  border-radius: 5px;
  background: var(--first-color);
}
.list li:hover{
  background: #333333;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
}

.checkicon {
  color: green;
  font-size: 19px;
}

.date-time {
  font-size: 12px;
}

.profile-image img {
  margin-left: 3px;
}

.voice-active{
  background: var(--channelSelected) !important;
}
