@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;700&display=swap');

canvas {
  display: block;
}


.background{
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba( 3, 0, 0, 0.75 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.text {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  color: #fff;
  max-width: 90%;
  padding: 2em 3em;
  background: transparent;
  text-shadow: 0px 0px 2px #131415;
  font-family: 'Mulish', sans-serif;
}

h1 {
  font-size: 2.25em;
  font-weight: 700;
  letter-spacing: -1px;
}

a{
  color: #ffffff !important;
  transition: 0.25s;
}

a:hover,
a:focus {
  color: #ffffff !important;
}

a:visited,
button:hover{
  background-color: #4d4d4d !important;
}
#logo{
  display: flex;
  width: auto;
  height: 11ex;
}

#nav-bar{
  background: transparent;
}

.nav-block{
  display: block !important;
}

.profile-pic {
  height: 4rem;
  width: 4rem;
  object-fit: center;
  border-radius: 50%;
  border: 0px
}