body{
    background: transparent;
}

h1, h2, h3, h4, h5, h6, p, a{
    color: #fff;
    text-decoration: none;
}

.leave:hover {
    background-color: #f44336 !important;
    color: white !important;
}
.leave{
    color: red !important;
    border: 1px solid red !important;

}
